<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Swapcase Function
string_1 = "       is id 2 an no of string"
print(string_1.swapcase())

print(string_1.strip())

       IS ID 2 AN NO OF STRING
is id 2 an no of string

In [ ]:
## Enumerate Fun

subject_2 = ('Python', 'Interview', 'Questions')
for i, subject_2 in enumerate(subject_2):
  print(i, subject_2)

0 Python
1 Interview
2 Questions

In [ ]:
## Identifier

# Run this cell and see the answer in boolean way(True, False) and don't worry if you don't
# Just keep in mind, there's a way to cross check the identifier.
print("abc".isidentifier())
print("99a".isidentifier())
print("_".isidentifier())
print("for".isidentifier()) # True - wrong output

True
False
True
True

In [ ]:
#convert List into string

weekdays = ['sun','mon','tue','wed','thu','fri','sat']

list_to_String = ' '.join(weekdays)
print(list_to_String)

sun mon tue wed thu fri sat

In [ ]:
#convert List into string
names = ['ram','shyam','nitin','ajay','vijay','raj']
list_to_string = ' '.join(names)
print(weaks)
print(list_to_string)

['ram', 'shyam', 'nitin', 'ajay', 'vijay', 'raj']
ram shyam nitin ajay vijay raj

In [ ]:
#convert list into tuple

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = tuple(weekdays)
print(list_to_Tuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [ ]:
#convert list into set

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = set(weekdays)
print(list_to_Tuple)

{'sun', 'sat', 'thu', 'wed', 'tue', 'mon', 'fri'}

In [ ]:
# count the repeated words
weekdays = ['sun','mon','tue','wed','thu','fri','sat','mon','tue','wed','thu','fri','sat','tue']

print(weekdays.count('tue'))

3

In [ ]:
''' What is NumPy array?

NumPy arrays are more flexible then lists in Python. By using NumPy arrays reading and writing items is faster and more efficient'''

In [ ]:
# What is local and global variable??

# global variable and it is not function dependant
x = "awesome"
def myfunc():
# Local variable because it is defined inside function and it has scope
 x = "fantastic"
 # here local variable gets priority when name of local and g
 print("CloudyML is " + x) 
myfunc()
print("CloudyML is " + x)

CloudyML is fantastic
CloudyML is awesome

In [ ]:
## Global variable and local variable

x = 'Awesome'
def myfunc():
  x = "Fantastic"
  print("it is:", x)
myfunc()
print("it is:", x)

it is: Fantastic
it is: Awesome

In [ ]:
 #String formatting method


# Method 1
quantity = 5
item_name = "Mango"
price = 10

# {} is called placeholder, so 3 placehold
order = "I want {} pieces of {} for {} dollars."
print(order.format(quantity, item_name, price))

# Method 2
order = "I want {0} pieces of {1} for {2} dollars." # here 0,1,2 tells the position of qu
print(order.format(quantity, item_name, price))

# Method 3
print(f"I want {quantity} pieces of {item_name} for {price} dollars.") # Observe the f out
 # names passed in
# Method 4


print("I want %d pieces of %s for %.0f dollars."%(quantity, item_name, price))

I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.

In [ ]:
name = 'Raman'
surname = "Magar"
print("my name is", name,"and surname is", surname)
order = "My name is {0} and Surname is {1}"
print(order.format(name,surname))
print(f"My Name is {name} and surname is {surname}")

my name is Raman and surname is Magar
My name is Raman and Surname is Magar
My Name is Raman and surname is Magar

In [ ]:
## For checking Odd Even program

number = int(input('Enter the number: '))
if (number % 2) == 0:
  print("{0} is even".format(number))
else:
  print("{0} is odd".format(number))

Enter the number: 5
5 is odd

In [ ]:
## Leaf Checker program
def LeafChecker():
  if((year % 400 ==0) or
   (year % 100 !=0) and
   (year % 4 ==0)):
    print("given year is Leap year")
  else:
    print("given  year is not Leap year")


year = int(input("Enter the Number"))
LeafChecker()

Enter the Number2020
given year is Leap year

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if a%j ==0:
        print('Given number is not prime number.')
        break
    else:
      print('Given number is prime number.')
  else:
  
    print("Given number is not prime number.")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 19
Given number is prime number.

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2) +1):
      if (a%j) ==0:
        print(a, 'is not prime number')
        break
    else:
      print(a,'is prime number')
  else:
    print(a,"is not prime number")
a= int(input("Enter the number"))
PrimeChecker(a)

Enter the number9
9 is not prime number

In [ ]:
## How to convert list into string
list = ['1','2','3','4']
con_to_string = ' '.join(list)
print(con_to_string)

1 2 3 4

In [ ]:
## How to convert list into tuple
list = ['1','2','3','4']
con_to_tuple = tuple(list)
print(con_to_tuple)

('1', '2', '3', '4')

In [ ]:
## How to convert list into set

list = ['1','2','3','4']
con_to_tuple = set(list)
print(con_to_tuple)

{'3', '4', '1', '2'}

In [ ]:
## How to count in a list 

list = ['1','2','2','2','4']
count = list.count('2')
print(count)

3

In [ ]:
## How to count each entity in a list 

list = ['1','2','2','3','4']
#count = list.count('1')
print([[x,list.count(x)] for x in set(list)])

[['2', 2], ['3', 1], ['4', 1], ['1', 1]]

In [ ]:
list1 = [1, 2, 3, 2, 5, 5, 3, 5,]
print([[x,list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
print([[x, list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
#another example
list = [1,2,3,2,4,1,3,2,3,3]
print([[x,list.count(x)] for x in set(list)])

[[1, 2], [2, 3], [3, 4], [4, 1]]

In [ ]:
# How to create numpy array in python 
import numpy as np
np.array([])
np.array([])

array([], dtype=float64)

In [ ]:
np.empty(shape=(3,4))

array([[4.17593928e-316, 2.14321575e-312, 2.37663529e-312,
        2.56761491e-312],
       [2.44029516e-312, 2.05833592e-312, 2.14321575e-312,
        8.48798317e-313],
       [9.33678148e-313, 8.70018275e-313, 8.70018274e-313,
        1.46030983e-319]])

In [ ]:
np.empty(shape=(3,2))

array([[2.9918845e-316, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000]])

In [ ]:
## Set example 
items_list = {"Raman", "Ashok", "Magar"}

print(items_list)
print(len(items_list))
# how to use "in" Keyword
if "Raman" in items_list:
  print('Its first Nmae')

# "not in"
if "Bopala" not in items_list:
  print("it's wrong")

{'Magar', 'Raman', 'Ashok'}
3
Its first Nmae
it's wrong

In [ ]:
## SET is immutable not change but add
item = set()
item.add('Bopala')
item.add('Pune')
item.add('Latur')
print(item)

{'Bopala', 'Pune', 'Latur'}

In [ ]:
## Sum of the 1 to 10
sum(range(1,11))

55

In [ ]:
sum(range(1,101))

5050

In [ ]:
list_1 = [1,2,3,4,5]
list = []
def GetSum(list_1):
  sum = 0
  for digit in str(list_1):
    sum += int(digit)
  return sum
n = int(input("Enter the input "))
GetSum(n)

Enter the input 1234

10

In [ ]:
x = lambda a:a*5
print(x(5))

25

In [ ]:
# list Comphrension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in fruits if "r" in x]
print(new_list)

['cherry']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
name = [" abc", 'def']
new = []
for x in name:
  if 'bc' in x:
    new.append(x)
print(new)

[' abc']

In [ ]:
## Indexing
list = [["ajay", 'vijay'], 'sujay', 'nijay']
print(len(list))
print(list[1][2])

3
j

In [ ]:
#Slicing
list = ["ajay", 'vijay', 'sujay', 'nijay']
print(list[0:4:3])

['ajay', 'nijay']

In [ ]:
import numpy as np

In [ ]:
npy = np.arange=(1,5)

In [ ]:
print(npy)

(1, 5)

In [ ]:
 ##sum of the digits of a number in Python

n=int(input("Enter a number:"))
total = 0

while(n>0):
  digit = n%10
  total = total + digit
  n = n//10
print("The total sum of digits is:",total)

Enter a number:15
The total sum of digits is: 6

In [ ]:
### Checking the palindrome

n= int(input("Enter the number: "))

templete = n
reverse = 0

while(n>0):
  digit = n%10
  reverse = reverse*10 + digit
  n = n//10

if (templete == reverse):
    print("given number is palendrome")

else:
    print("given no is not palendrome ")

Enter the number: 161
given number is palendrome

In [ ]:
#Count the Number of Digits in a Number

n= int(input("Enter the number: "))
count = 0
while(n>0):
  count = count+1
  n= n//10
print("no of digit in list: ",count)

Enter the number: 154
no of digit in list:  3

In [ ]:
# print table of given number

n= int(input("Enter the input: "))
for i in range(1,6):
  print(n, 'x', i, '=', n*i)

Enter the input: 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75

In [ ]:
#program to reverse a number

n = int(input("please give a number : "))
print("before reverse your numeber is : %d" %n)

reverse = 0

while n!=0:
    reverse = reverse*10 + n%10       
    n = (n//10)

print("After reverse : %d" %reverse)

please give a number : 1545
before reverse your numeber is : 1545
After reverse : 5451

In [ ]:
#Program to check a number is Armstrong or not in python programming language

i=0
result=0
n = int(input("please give a number : "))

number1 = n
temp = n

while n!=0:
    n = (n//10)
    i=i+1;

while number1!=0:
    n=number1%10
    result=result+pow(n,i)
    number1=number1//10

if temp==result:
    print("number is armstrong")
    
else:
    print("number is not armstrong")

please give a number : 370
number is armstrong

In [ ]:
#Checking the no is binary or not

num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 2424
num is not binary

In [ ]:
#overload constructors (or methods) in Python

class Student:
  def __init__(self, name):
    self.name = name

  def __init__(self, name, email):
    self.name = name
    self.email = email

#st = ("rahul")
st = Student("rahul", "rahul@gmail.com")

print("name: ",st.name)
print("email: ",st.email)

name:  rahul
email:  rahul@gmail.com

In [ ]:
## JOIN() in string

str = "Rohan"
str2 = ("abc", "def")
# Calling function
str2 = str.join(str2)
# Displaying result
print(str2)

abcRohandef

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
working_dir_path = '/content/sample_data/california_housing_test.csv'

In [ ]:
df = pd.read_csv(working_dir_path)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
## Use of sort function

list = [2, 5, 7, 8, 1]
list = [int(i) for i in list]
list.sort()
print (list)

[1, 2, 5, 7, 8]

In [ ]:
## Use of .reverse function

list.reverse()
print(list)

[8, 7, 5, 2, 1]

In [ ]:
a= [10,20]
b= a
b += [30,40]
print(a)

[10, 20, 30, 40]

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
## use of *args

def func(*args):
  for i in args:
    print(i)
func(3,2,1,4,7)

3
2
1
4
7

In [ ]:
## Use **kwargs

def func(**kwargs):
  for i in kwargs:
    print(i,kwargs[i])
func(a=1,b=3,c=5)

a 1
b 3
c 5

In [ ]:
 a = [1,2,3]
 b= [3,2,1]
 b,a = a,b

In [ ]:
a

[3, 2, 1]

In [ ]:
b
print(len(b))

3

In [ ]:
c= '\\r'
print(len(c))

2

In [ ]:
0>1

False

In [ ]:
0<1

True

In [ ]:
## Convert numbers into String

a= 1,1,22,2,2,2,2
b= str(a)
print(b)

(1, 1, 22, 2, 2, 2, 2)