<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#how to debug the program by using debug command
python -m pdb python-script.py

In [ ]:
string_1 = "is id an no of string"
print(string_1.swapcase())

IS ID AN NO OF STRING

In [ ]:
subject_2 = ('Python', 'Interview', 'Questions')
for i, subject_2 in enumerate(subject_2):
  print(i, subject_2)

0 Python
1 Interview
2 Questions

In [ ]:
for i, subject in enumerate(string_1):

  print(i, string_1)

0 is id an no of string
1 is id an no of string
2 is id an no of string
3 is id an no of string
4 is id an no of string
5 is id an no of string
6 is id an no of string
7 is id an no of string
8 is id an no of string
9 is id an no of string
10 is id an no of string
11 is id an no of string
12 is id an no of string
13 is id an no of string
14 is id an no of string
15 is id an no of string
16 is id an no of string
17 is id an no of string
18 is id an no of string
19 is id an no of string
20 is id an no of string

##What are Identifiers ?

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits
(0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers.Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.

In [ ]:
# Run this cell and see the answer in boolean way(True, False) and don't worry if you don't
# Just keep in mind, there's a way to cross check the identifier.
print("abc".isidentifier())
print("99a".isidentifier())
print("_".isidentifier())
print("for".isidentifier()) # True - wrong output

True
False
True
True

In [ ]:
#convert List into string

weekdays = ['sun','mon','tue','wed','thu','fri','sat']

list_to_String = ' '.join(weekdays)
print(list_to_String)

sun mon tue wed thu fri sat

In [ ]:
#convert List into string
names = ['ram','shyam','nitin','ajay','vijay','raj']
list_to_string = ' '.join(names)
print(weaks)
print(list_to_string)

['ram', 'shyam', 'nitin', 'ajay', 'vijay', 'raj']
ram shyam nitin ajay vijay raj

In [ ]:
#convert list into tuple

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = tuple(weekdays)
print(list_to_Tuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [ ]:
#convert list into set

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = set(weekdays)
print(list_to_Tuple)

{'sun', 'sat', 'thu', 'wed', 'tue', 'mon', 'fri'}

In [ ]:
# count the repeated words
weekdays = ['sun','mon','tue','wed','thu','fri','sat','mon','tue','wed','thu','fri','sat','tue']

print(weekdays.count('tue'))

3

In [ ]:
''' What is NumPy array?

NumPy arrays are more flexible then lists in Python. By using NumPy arrays reading and writing items is faster and more efficient'''

In [ ]:
# What is local and global variable??

# global variable and it is not function dependant
x = "awesome"
def myfunc():
# Local variable because it is defined inside function and it has scope
 x = "fantastic"
 # here local variable gets priority when name of local and g
 print("CloudyML is " + x) 
myfunc()
print("CloudyML is " + x)

CloudyML is fantastic
CloudyML is awesome

In [ ]:
A = 'javapoint'

def myfunc():
  A = 'java'
  print(A)
myfunc()
print(A)

java
javapoint

In [ ]:
x = 'Awesome'
def myfunc():
  x = "Fantastic"
  print("it is:", x)
myfunc()
print("it is:", x)

it is: Fantastic
it is: Awesome

In [ ]:
 #String formatting method
# Method 1
quantity = 5
item_name = "Mango"
price = 10

# {} is called placeholder, so 3 placehold
order = "I want {} pieces of {} for {} dollars."
print(order.format(quantity, item_name, price))
# Method 2
order = "I want {0} pieces of {1} for {2} dollars." # here 0,1,2 tells the position of qu
print(order.format(quantity, item_name, price))
# Method 3
print(f"I want {quantity} pieces of {item_name} for {price} dollars.") # Observe the f out
 # names passed in
# Method 4
print("I want %d pieces of %s for %.0f dollars."%(quantity, item_name, price))

I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.

In [ ]:
name = 'Raman'
surname = "Magar"
print("my name is", name,"and surname is", surname)
order = "My name is {0} and Surname is {1}"
print(order.format(name,surname))
print(f"My Name is {name} and surname is {surname}")

my name is Raman and surname is Magar
My name is Raman and Surname is Magar
My Name is Raman and surname is Magar

In [ ]:
## For checking Odd Even program

number = int(input('Enter the number: '))
if (number % 2) == 0:
  print("{0} is even".format(number))
else:
  print("{0} is odd".format(number))

Enter the number: 8585255551
8585255551 is odd

In [ ]:
## Check leap year

def Checkleap(Year):
  if((Year % 400 ==0) or
    (Year % 100 !=0) and
    (Year % 4 == 0)):
    print("The given year is Leap year")
  else:
    print("The given year is not Leap year")
  

Year = int(input("Enter the number "))

Checkleap(Year)

Enter the number 2019
The given year is not Leap year

In [ ]:
def LeafChecker():
  if((year % 400 ==0) or
   (year % 100 !=0) and
   (year % 4 ==0)):
    print("given year is Leap year")
  else:
    print("given  year is not Leap year")


year = int(input("Enter the Number"))
LeafChecker()

Enter the Number2021
given  year is not Leap year

In [ ]:
## Check the given number is prime or not
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if (a %j) ==0:
        print(a, "is not prime number")
        break

    else:
      print(a,"is not prime number")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 15
15 is not prime number

In [ ]:
def PrimeChecker(a):
  if a>0:
    for j in range(2, int(a/2)+1):
      if a%j ==0:
        print('Given No is not prime.')
        break
    else:
      print('Given no is prime.')
  else:
  
    print("Given no is not prime.")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 8
Given No is not prime.

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2) +1):
      if (a%j) ==0:
        print(a, 'is not prime number')
        break
    else:
      print(a,'is prime number')
  else:
    print(a,"is not prime number")
a= int(input("Enter the number"))
PrimeChecker(a)

Enter the number7
7 is prime number

In [ ]:
## How to convert list into string
list = ['1','2','3','4']
con_to_string = ' '.join(list)
print(con_to_string)

1 2 3 4

In [ ]:
## How to convert list into tuple
list = ['1','2','3','4']
con_to_tuple = tuple(list)
print(con_to_tuple)

('1', '2', '3', '4')

In [ ]:
## How to convert list into set

list = ['1','2','3','4']
con_to_tuple = set(list)
print(con_to_tuple)

{'3', '4', '1', '2'}

In [ ]:
## How to count in a list 

list = ['1','2','2','2','4']
count = list.count('2')
print(count)

3

In [ ]:
## How to count each entity in a list 

list = ['1','2','2','3','4']
#count = list.count('1')
print([[x,list.count(x)] for x in set(list)])

[['2', 2], ['3', 1], ['4', 1], ['1', 1]]

In [ ]:
list1 = [1, 2, 3, 2, 5, 5, 3, 5,]
print([[x,list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
print([[x, list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
#another example
list = [1,2,3,2,4,1,3,2,3,3]
print([[x,list.count(x)] for x in set(list)])

[[1, 2], [2, 3], [3, 4], [4, 1]]

In [ ]:
# How to create numpy array in python 
import numpy as np
np.array([])
np.array([])

array([], dtype=float64)

In [ ]:
np.empty(shape=(3,4))

array([[4.17593928e-316, 2.14321575e-312, 2.37663529e-312,
        2.56761491e-312],
       [2.44029516e-312, 2.05833592e-312, 2.14321575e-312,
        8.48798317e-313],
       [9.33678148e-313, 8.70018275e-313, 8.70018274e-313,
        1.46030983e-319]])

In [ ]:
np.empty(shape=(3,2))

array([[2.9918845e-316, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000]])

In [ ]:
# Hoew to use enumrate function

subject = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subject):
   print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subjects = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subjects):
  print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subject = ('Raman', 'Ashok', 'Magar')
for i, subject in enumerate(subject):
  print(i, subject)

0 Raman
1 Ashok
2 Magar

In [ ]:
# Concatenate Funnction
print('Raman ' + 'Ashok ' + 'Magar')

Raman Ashok Magar

In [ ]:
## Set example 
items_list = {"Raman", "ashok", "Magar"}

print(items_list)
print(len(items_list))
# how to use "in" Keyword
if "Raman" in items_list:
  print('Its first Nmae')

# "not in"
if "Bopala" not in items_list:
  print("it's wrong")

{'ashok', 'Raman', 'Magar'}
3
Its first Nmae
it's wrong

In [ ]:
## SET is immutable not change but add
item = set()
item.add('Boala')
item.add('Pune')
item.add('Latur')
print(item)

TypeError: ignored

In [ ]:
## Sum of the 1 to 10
sum(range(1,11))

55

In [ ]:
sum(range(1,101))

5050

In [ ]:
## Another Way 
def GetSum(n):
  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum

n = int(input("Enter the number"))
GetSum(n)

Enter the number12345

15

In [ ]:
list_1 = [1,2,3,4,5]
list = []
def GetSum(list_1):
  sum = 0
  for digit in str(list_1):
    sum += int(digit)
  return sum
n = int(input("Enter the input "))
GetSum(n)

Enter the input 1234

10

In [ ]:
x = lambda a:a*5
print(x(5))

25

In [ ]:
# list Comphrension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in fruits if "r" in x]
print(new_list)

['cherry']

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
new_list = []
for x in name_list:
  if "a" in x:
    new_list.append(x)
print(new_list)

['Raman', 'Magar']

In [ ]:
name = [" abc", 'def']
new = []
for x in name:
  if 'bc' in x:
    new.append(x)
print(new)

[' abc']

In [ ]:
import array as arr
user_list = ["abs", 2, 1.2]
user_array = arr.array('i',[1,2,3])
print(user_list)
print(user_array)

['abs', 2, 1.2]
array('i', [1, 2, 3])

In [ ]:
## Indexing
list = [["ajay", 'vijay'], 'sujay', 'nijay']
print(len(list))
print(list[1][2])

3
j

In [ ]:
#Slicing
list = ["ajay", 'vijay', 'sujay', 'nijay']
print(list[0:4:3])

['ajay', 'nijay']

In [ ]:
import numpy as np

In [ ]:
npy = np.arange=(1,5)

In [ ]:
print(npy)

(1, 5)

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
print(names2)
print(names3)


names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
  if ls[0] == 'Alice':
    sum += 1
    if ls[1] == 'Bob':
      sum += 10
print(sum)

['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']
2

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
  
#start parameter is not provided
Sum = sum(numbers)
print(Sum)
  
# start = 10
Sum = sum(numbers, 10)
print(Sum)

In [ ]:
 ##sum of the digits of a number in Python

n=int(input("Enter a number:"))
tot=0
while(n>0):
  dig=n%10
  tot=tot+dig
  n=n//10
print("The total sum of digits is:",tot)

Enter a number:99856
The total sum of digits is: 37

In [ ]:
n= int(input("Enter the number"))
total = 0
while(n>0):
  digit = n%10
  total = total + digit
  n = n//10
print('Given no of total is: ',total)

Enter the number123
Given no of total is:  6

In [ ]:
### Checking the palindrome
n= int(input("Enter the number: "))
templete = n
reverse = 0
while(n>0):
  digit = n%10
  reverse = reverse*10 + digit
  n = n//10
if (templete == reverse):
    print("given number is palendrome")
else:
    print("given no is not palendrome ")

Enter the number: 144
given no is not palendrome

In [ ]:
#Count the Number of Digits in a Number

n= int(input("Enter the number: "))
count = 0
while(n>0):
  count = count+1
  n= n//10
print("no of digit in list: ",count)

Enter the number: 8465654
no of digit in list:  7

In [ ]:
##Adding no into previous number

list = [1,2,3,4,5]
new_list = []
while(n>0):
  for i in list:
    new_list += list.append()+i
    n =  n//10
    print(new_list)
print(new_list)

[]

In [ ]:
# print table of given number
n= int(input("Enter the input: "))
for i in range(1,6):
  print(n, 'x', i, '=', n*i)

Enter the input: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
# print table of given number
list= int(input("Enter the input: "))
for i in range(1,5):
  print(n, 'x', i, '=', n*i)

Enter the input: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if a%j==0:
        print(a,'This is not prime')
        break
    else:
      print(a,'this is prime number')
  else:
    print(a,'this is not prime number')
a = int(input('enter the number: '))
PrimeChecker(a)

enter the number: 8
8 This is not prime

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if a%j ==0:
        print(a, "not prime")
        break
    else:
      print(a, 'is prime')
  else:
    print(a,'not prime')
a = int(input("enter no"))
PrimeChecker(a)

enter no5
5 is prime

In [ ]:
def efficientJanitor(weight):
    weight.sort()
    n = len(weight)
    lo = 0
    hi = n - 1
    ans = 0
    while(lo < hi):
        # too big to pair, so decrement hi
        if(weight[lo] + weight[hi] > 3.0):
            hi = hi - 1
        # small enough to pair, so increment lo, decrement hi
        else:
            lo = lo + 1
            hi = hi - 1
        # increment trip counter in either case
        ans = ans + 1
    # a bag is left, so 1 more trip
    if(lo == hi):
        ans = ans + 1
    return ans

In [ ]:
#program to reverse a number

n = int(input("please give a number : "))
print("before reverse your numeber is : %d" %n)
reverse = 0
while n!=0:
    reverse = reverse*10 + n%10       
    n = (n//10)
print("After reverse : %d" %reverse)

please give a number : 124
before reverse your numeber is : 124
After reverse : 421

In [ ]:
#Program to check a number is Armstrong or not in python programming language

i=0
result=0
n = int(input("please give a number : "))
number1 = n
temp = n
while n!=0:
    n = (n//10)
    i=i+1;
while number1!=0:
    n=number1%10
    result=result+pow(n,i)
    number1=number1//10
if temp==result:
    print("number is armstrong")
else:
    print("number is not armstrong")

please give a number : 370
number is armstrong

In [ ]:
#program to print Fibonacci series program in using Iterative methods

first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=iS
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 9
fibonacci series are :
0
1
1
2
3
5
8
13
21

In [ ]:
#program to find greatest of three numbers

n1 = int(input("please give first number n1: "))
n2 = int(input("please give second number n2: "))
n3 = int(input("please give third number n3: "))
if n1>=n2 and n1>=n3: 
	print(" n1 is greatest");
if n2>=n1 and n2>=n3:
	print(" n2 is greatest");
if n3>=n1 and n3>=n2:
	print("n3 is greatest");

please give first number n1: 3
please give second number n2: 4
please give third number n3: 2
 n2 is greatest

In [ ]:
#Checking the no is binary or not

num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 2424
num is not binary

In [ ]:
#SUM of no using recursion

a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
a=a-b
b=a+b
a=b-a
print("After swapping")
print("value of a is : ", a);
print("value of b is : ", b);

please give first number a: 5
please give second number b: 6
After swapping
value of a is :  6
value of b is :  5

In [ ]:
#overload constructors (or methods) in Python

class Student:
  def __init__(self, name):
    self.name = name
  def __init__(self, name, email):
    self.name = name
    self.email = email
#st = ("rahul")
st = Student("rahul", "rahul@gmail.com")
print("name: ",st.name)
print("email: ",st.email)

name:  rahul
email:  rahul@gmail.com

In [ ]:
## JOIN() in string

str = "Rohan"
str2 = ("abc", "def")
# Calling function
str2 = str.join(str2)
# Displaying result
print(str2)

abcRohandef

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
working_dir_path = '/content/sample_data/california_housing_test.csv'

In [ ]:
df = pd.read_csv(working_dir_path)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age
  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
## Use of sort function

list = [2, 5, 7, 8, 1]
list = [int(i) for i in list]
list.sort()
print (list)

[1, 2, 5, 7, 8]

In [ ]:
## Use of .reverse function

list.reverse()
print(list)

[8, 7, 5, 2, 1]

In [ ]:
##use of map function

def calculate_cube(n):
  return n*n*n
numbers = (2, 3, 4, 5)
result = map(calculate_cube, numbers)
print(result)

<map object at 0x7fd6ee1960d0>

In [ ]:
result

In [ ]:
a= [10,20]
b= a
b += [30,40]
print(a)

[10, 20, 30, 40]

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
## use of *args

def func(*args):
  for i in args:
    print(i)
func(3,2,1,4,7)

3
2
1
4
7

In [ ]:
## Use **kwargs

def func(**kwargs):
  for i in kwargs:
    print(i,kwargs[i])
func(a=1,b=3,c=5)

a 1
b 3
c 5

In [ ]:
 a = [1,2,3]
 b= [3,2,1]
 b,a = a,b

In [ ]:
a

[3, 2, 1]

In [ ]:
b
print(len(b))

3

In [ ]:
c= '\\r'
print(len(c))

2

In [ ]:
0>1

False

In [ ]:
0<1

True

In [ ]:
## Convert numbers into String

a= 1,1,22,2,2,2,2
b= str(a)
print(b)

(1, 1, 22, 2, 2, 2, 2)