<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Python_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np_array = np.ones((4,4))

In [ ]:
np_array

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

odd evan number program

In [ ]:
### odd evan number program 

num = int(input("Enter the no: "))

if (num % 2) == 0:
  print("{0} is even".format(num))
else:
  print("{0} is odd".format(num))

Enter the no: 15
15 is odd

Check the prime number

In [ ]:
def PrimeChecker(num):
  if num>1:
    for j in range(2, num//2+1):
      if num % j ==0:
        print("is't prime number")
        break
    else:
      print("prime number")
  else:
    print("is't prime")

num = int(input("Enter the number: "))
PrimeChecker(num)

Enter the number: 17
prime number

Check an arsmtrong number

In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:

ex- 153 = (1*1*1) + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [ ]:
n=int(input("Enter any number: "))
a=list(map(int,str(n)))
b=list(map(lambda x:x**3,a))
if(sum(b)==n):
   print("The number is an armstrong number. ")
else:
   print("The number isn't an arsmtrong number. ")

Enter any number: 371
The number is an armstrong number.

In [ ]:
num = int(input("enter the number: "))
a = list(map(int, str(num)))
b= list(map(lambda x:x**3, a))
if sum(b) ==num:
  print('armstrong')
else:
  print("not")

enter the number: 153
armstrong

Write ReLU function

In [ ]:
if  input > 0:
  return input
else:
  return 0

In [ ]:


def relu(x):
    return max(0.0, x)

In [ ]:
x = 1.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = -10.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = 0.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = 15.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = -20.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

Applying Relu on (1.0) gives 1.0
Applying Relu on (-10.0) gives 0.0
Applying Relu on (0.0) gives 0.0
Applying Relu on (15.0) gives 15.0
Applying Relu on (-20.0) gives 0.0

Checking Leap year program

In [ ]:
def LeapChecker(year):
  if((year % 400)==0 or
    (year % 100)!=0 and
    (year % 4) ==0):
    print("Given year is Leap year")
  else:
    print("Given year is not leap year")
year = int(input("enter the input: "))
LeapChecker(year)

enter the input: -599
Given year is not leap year

Enumerate function

In [ ]:
raman = ("Raman", "AShok", "Magar")
for i, raman in enumerate(raman):
  print(i, raman)

0 Raman
1 AShok
2 Magar

Convert list into string

In [ ]:


list1 = ['at-Bopala', 'Ekurga', 'tq.dist', 'Latur']
convert = " ".join(list1)
print(convert)

at-Bopala Ekurga tq.dist Latur

Anagram program

In [ ]:
##using sorted function
### using counter function


def check(s1, s2):
  
  if(sorted(s1)==sorted(s2)):
    print("The strings are anagram")
  else:
    print("The strings are not anagram")

s1 = 'listen'
s2 = 'silent'
check(s1, s2)

The strings are not anagram

In [ ]:
def check(s1,s2):
  # s1 = "silent"
  # s2 = 'listen'
  if(sorted(s1)==sorted(s2)):
    print("anagram")
  else:
    print("not")

s1 = "silent"
s2 = 'listen'
check(s1,s2)

anagram

In [ ]:
### using counter function

from collections import Counter
def check(s1, s2):
  if(Counter(s1) == Counter(s2)):
    print("This is anagram")
  else:
    print("not anagram")
s1 = "listen"
s2 = "silent"
check(s1, s2)

This is anagram

*Palindrom Program*

write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

In [ ]:
def isPalindrome(s):

   return s == s[::-1]


s = "radar"
ans = isPalindrome(s)

if ans:
  print("yes")
else:
  print("not")

yes

In [ ]:

# function which return reverse of a string
 
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

Find minimum and maximum element in an array

In [ ]:
def getMinMax(a, n):
  min = float('inf')
  max = -float('inf')
  for i in a:
    if i <min:
      min = i
    if i>max:
      max = i
  return min, max
a = [-0,-15,22,545,-25]
n = len(a)
getMinMax(a,n)

(-25, 545)

In [ ]:
def getMinMax(a, n):
  min = float('inf')
  max = -float('inf')
  for i in a:
    if i<min:
      min = i
    if i>max:
      max = i
  return max, min

a = [-20,30,0,55]
n= len(a)
getMinMax(a, n)

(55, -20)

Given an array A of size N, print the reverse of it.

In [ ]:

#1  [::-1]
array_1 = [2,3,3,4,5,6]
rev_array = array_1[::-1]
print(rev_array)

#2 .reverse()
array_2 = [2,3,4,5,6]
array_2.reverse()
print(array_2)

[6, 5, 4, 3, 3, 2]
[6, 5, 4, 3, 2]

In [ ]:
list= [2,3,5,2,2,4,5,67,8,9,6]
list.sort()
print(list)

[2, 2, 2, 3, 4, 5, 5, 6, 8, 9, 67]

In [ ]:
from array import *
array_num = array('i', [1,3,5,7,9])
for i in array_num:
    print(i)
print("Access first three items individually")
print(array_num[0])
print(array_num[1])
print(array_num[2])

1
3
5
7
9
Access first three items individually
1
3
5

In [ ]:
from array import *
array_num  = array('i', [1, 3, 5, 9, 11])
for i in array_num:
  print(i)
#print(array_num[2])

1
3
5
9
11

In [ ]:
from array import *
array_create = array('i', [2, 4, 6, 8])
for i in array_create:
  print(i)

2
4
6
8

In [ ]:
print(i)

11

In [2]:
import numpy as np
def cos_sim(a, b):
#  """Takes 2 vectors a, b and returns the cosine similarity according
#  to the definition of the dot product
#  """
 dot_product = np.dot(a, b)
 norm_a = np.linalg.norm(a)
 norm_b = np.linalg.norm(b)
 return dot_product / (norm_a * norm_b)
 
# the counts we computed above
sentence_m = np.array([1, 1, 1, 1, 0, 0, 0, 0, 0])
sentence_h = np.array([0, 0, 1, 1, 1, 1, 0, 0, 0])
sentence_w = np.array([0, 0, 0, 1, 0, 0, 1, 1, 1])
# We should expect sentence_m and sentence_h to be more similar
print(cos_sim(sentence_m, sentence_h)) # 0.5
print(cos_sim(sentence_m, sentence_w)) # 0.25

0.5
0.25

Write a program that prints the numbers ranging from one to 50. But for multiples of three, print "Fizz" instead of the
number, and for the multiples of five, print "Buzz." For
numbers which are multiples of both three and five,
print "FizzBuzz"

In [ ]:
for num in range(51):