<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Python%20Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [ ]:
np_array = np.ones((4,4))

In [ ]:
np_array

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

odd evan number program

In [ ]:
### odd evan number program 

num = int(input("Enter the number: "))

if (num % 2) == 0:
  print("{0} is even".format(num))
else:
  print("{0} is odd".format(num))

Enter the number: 5
5 is odd

Check the prime number

In [ ]:
def PrimeChecker(num):
  if num>1:
    for j in range(2, num//2+1):
      if num % j ==0:
        print("is't prime number")
        break
    else:
      print("prime number")
  else:
    print("is't prime")

num = int(input("Enter the number: "))
PrimeChecker(num)

Enter the number: 15
is't prime number

Check an arsmtrong number

In [ ]:
n=int(input("Enter any number: "))
a=list(map(int,str(n)))
b=list(map(lambda x:x**3,a))
if(sum(b)==n):
   print("The number is an armstrong number. ")
else:
   print("The number isn't an arsmtrong number. ")

Enter any number: 55
The number isn't an arsmtrong number.

Write ReLU function

In [ ]:
if  input > 0:
  return input
else:
  return 0

In [35]:


def relu(x):
    return max(0.0, x)

In [36]:
x = 1.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = -10.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = 0.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = 15.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

x = -20.0
print('Applying Relu on (%.1f) gives %.1f' % (x, relu(x)))

Applying Relu on (1.0) gives 1.0
Applying Relu on (-10.0) gives 0.0
Applying Relu on (0.0) gives 0.0
Applying Relu on (15.0) gives 15.0
Applying Relu on (-20.0) gives 0.0

Checking Leap year program

In [44]:
def LeapChecker(year):
  if((year % 400)==0 or
    (year % 100)!=0 and
    (year % 4) ==0):
    print("Given year is Leap year")
  else:
    print("Given year is not leap year")
year = int(input("enter the input: "))
LeapChecker(year)

enter the input: -599
Given year is not leap year

Enumerate function

In [49]:
raman = ("Raman", "AShok", "Magar")
for i, raman in enumerate(raman):
  print(i, raman)

0 Raman
1 AShok
2 Magar

Convert list into string

In [57]:


list1 = ['at-Bopala','Ekurga','tq.dist','Latur']
convert = " ".join(list1)
print(convert)

at-Bopala Ekurga tq.dist Latur