<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Star_Pattern_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print(j ,end=' ')

0 0 1 0 1 2 0 1 2 3 0 1 2 3 4

In [ ]:
n= 5
for i in range(n):
  #for j in range(i+1):
    print(i ,end=' ')

0 1 2 3 4

In [ ]:
n= 5
for i in range(n):
  #for j in range(i+1):
    print(i)

0
1
2
3
4

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n= 5 
for i in range(n):
  for j in range(i+1):
    print("*", end =' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n= 5
for i in range(n):
  for j in range(i, n):
    print("*", end =' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
i = 5
for i in range(n):
  for j in range(i, n):
    print('*', end=' ')
  for j in range(i+1):
    print("*", end=' ')
  print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
i = 5
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print("*", end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
i = 5
for i in range(n):
  for j in range(i+1):
    print('*', end=' ')
  for j in range(i,n):
    print(" ", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
i = 5
for i in range(n):
  for j in range(i, n):
    print(' ', end=' ')
  for j in range(i+1):
    print("*", end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
i = 5
for i in range(n):
  for j in range(i, n):
    print(' ', end=' ')
  for j in range(i+1):
    print("*", end=' ')
  for j in range(i,n):
    print("*", end=' ')
  print()

          * * * * * *
        * * * * * *
      * * * * * *
    * * * * * *
  * * * * * *

In [ ]:
i = 5
for i in range(n):
  for j in range(i, n):
    print(' ', end=' ')
  for j in range(i+1):
    print("*", end=' ')
  for j in range(i+1):
    print("*", end=' ')
  print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [ ]:
i = 5
for i in range(n):
  for j in range(i, n):
    print(' ', end=' ')
  for j in range(i):
    print("*", end=' ')
  for j in range(i+1):
    print("*", end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print('1', end=' ')
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('1', end=' ')
  print()

  1 1 1 1 1
    1 1 1 1
      1 1 1
        1 1
          1

In [ ]:
n= 5
for i in range(n):
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i):
    print('1', end=' ')
  for j in range(i+1):
    print('1', end=' ')
  print()

          1
        1 1 1
      1 1 1 1 1
    1 1 1 1 1 1 1
  1 1 1 1 1 1 1 1 1

In [ ]:
i = 5
for i in range(n):
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i,n):
    print("1", end=' ')
  for j in range(i+1):
    print("1", end=' ')
  print()

          1 1 1 1 1 1
        1 1 1 1 1 1
      1 1 1 1 1 1
    1 1 1 1 1 1
  1 1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1, end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
p= 1
for i in range(n):
  for j in range(i+1):
    print(p, end = ' ')
  p+=1
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n= 5
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('1', end=' ')
  print()

  1 1 1 1 1
    1 1 1 1
      1 1 1
        1 1
          1

In [ ]:
n= 5
p=5
for i in range(n):
  for j in range(i+1):
    print(p, end=' ')
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n= 5
p=0
for i in range(n):
  for j in range(i+1):
    print(p, end=' ')
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n= 5
p=0
for i in range(n):
  for j in range(i+1):
    if(i%2==0):
      print('1', end=' ')
    else:
      print("2", end= ' ')
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n= 5
p =1
for i in range(n-1):
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i):
    print(p, end=' ')
  for j in range(i+1):
    print(p, end=' ')
  p+=1
  print()
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i, n-1):
    print(p, end=' ')
  for(intj=i;j<=n;j++)
    print(p, end=' ')
  p-=1
  print()

SyntaxError: ignored

In [ ]:
n= 5
for i in range(n):
  p =1
  for j in range(i+1):
    print(p, end=' ')
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n= 5
for i in range(n):
  p =1
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print(p, end=' ')
    p+=1
  print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
## hill tringle
n= 5
for i in range(n):
  p =1
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i):
    print(p, end=' ')
    p+=1
  for j in range(i+1):
    print(p, end=' ')
    p+=1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
n= 5
p=5
for i in range(n):
  p=5
  for j in range(i+1):
    print(p, end=' ')
    p-=1
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n= 5
k=5
for i in range(n):
  p =k
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print(p, end=' ')
    p-=1
  k-=1
  print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [ ]:
## hill tringle
n= 5
for i in range(n):
  p =1
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i):
    print(p, end=' ')
    p+=1
  for j in range(i+1):
    print(p, end=' ')
    p+=1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
#Floyed pattern
n= 5
p=1
for i in range(n):
  for j in range(i+1):
    print(p, end=' ')
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15