<a href="https://colab.research.google.com/github/Ramanmagar/Python-for-data-science/blob/main/Store_Stock_Calculator_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  
  
# assign data of lists.  
data = {'Item': ['Apple', 'Banana', 'Orange'],
        'Current Stock': [3, 4, 5],
        'Price per Item': [1.00, 2.50, 1.50],
        'Previous Sales':[4, 2, 5]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
print(df)

     Item  Current Stock  Price per Item  Previous Sales
0   Apple              3             1.0               4
1  Banana              4             2.5               2
2  Orange              5             1.5               5

In [ ]:
import pandas as pd  
  
# assign data of lists.  
data = {'Item': ['Apple', 'Banana', 'Orange'],
        'Current_Stock': [3, 4, 5],
        'Price_per_Item': ['1.00', '2.50', '1.50']}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
print(df)

     Item  Current_Stock Price_per_Item
0   Apple              3           1.00
1  Banana              4           2.50
2  Orange              5           1.50

In [ ]:
#totals for each item, and a grand total and add column into dataframe

# Using DataFrame.insert() to add a column
Total = df.Current_Stock * df.Price_per_Item

#df['Total'] = Total.where(df.Action == 'Sell', other=-Total)

In [ ]:
df.insert["Total"]=[df.Current_Stock * df.Price_per_Item]

TypeError: ignored

In [ ]:
df

     Item  Current_Stock Price_per_Item
0   Apple              3           1.00
1  Banana              4           2.50
2  Orange              5           1.50

In [ ]:
df2 = df.assign(Total = df.Current_Stock * df.Price_per_Item)

In [ ]:
df2

     Item  Current_Stock Price_per_Item                 Total
0   Apple              3           1.00          1.001.001.00
1  Banana              4           2.50      2.502.502.502.50
2  Orange              5           1.50  1.501.501.501.501.50

In [ ]:
df2

NameError: ignored

In [ ]:
df.assign(Total) = df([Current_Stock * Price_per_Item])

SyntaxError: ignored

In [ ]:
df['Total'] = df.Current_Stock * df.Price_per_Item

In [ ]:
df

     Item  Current_Stock Price_per_Item                 Total
0   Apple              3           1.00          1.001.001.00
1  Banana              4           2.50      2.502.502.502.50
2  Orange              5           1.50  1.501.501.501.501.50

In [ ]:
df.insert(loc=1, column="Total", value=[df.Current_Stock * df.Price_per_Item])

AttributeError: ignored

In [ ]:
df.assign(Total1=lambda x: x.Current_Stock * df.Price_per_Item)

AttributeError: ignored

In [ ]:
df['Total_value'] = df['Total_value'].apply(lambda x: Price_per_Item*-1)

KeyError: ignored

In [ ]:
df['Total_value'] = df.Price_per_Item * df.Current_Stock
df

AttributeError: ignored

In [ ]:
df["Total"] = df["Current_Stock"] * df["Price_per_Item"]

In [ ]:
df

,Item,Current_Stock,Price_per_Item,Total_value,Total
0,Apple,3,1.00,1.001.001.00,1.001.001.00
1,Banana,4,2.50,2.502.502.502.50,2.502.502.502.50
2,Orange,5,1.50,1.501.501.501.501.50,1.501.501.501.501.50

In [ ]:
df3 = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})

In [ ]:
df3["a*b"] = df3["a"] * df3["b"]
print(df3)

   a  b  a*b
0  1  4    4
1  2  5   10
2  3  6   18